div.navbar
    div.navbar-inner
        div.container
            a.brand(href='#') trifolium
div.container
    header
        h1= title
    section#error
        div.alert.alert-error
            h4 エラー
            #{message}