div.container
    div.row
        div.span12
            h1= title
        div.row
            div.span8#main-content
                div#main-screen
            div.span4#side-content
                div#brave-info
                    table.table.table-striped.table-bordered.table-condensed
                        thead
                            tr
                                th(colspan='2') brave status
                        tbody
                            each id, name in params
                                tr
                                    td #{name}
                                    td 0
