div.navbar
    div.navbar-inner
        div.container
            a.brand(href='#') trifolium
div.container
    div.row
        div.row
            div.span8#main-content
                div.well
                    h3= title
                    div#main-screen
            div.span4#side-content
                div.well#brave-info
                    h3 brave info
                    table.table.table-striped.table-bordered.table-condensed
                        thead
                            tr
                                th#parameter-name parameter name
                                th#value value
                        tbody
                            each id, name in params
                                tr
                                    td #{name}
                                    td(id="#{id}-value")
                            tr
                                td actionProcess
                                td
                                    div.progress.progress-striped.active
                                        div(class="bar", id="brave-actionProcess-bar")
