@import "bootstrap/bootstrap.less";

@mainScreenWidth: 580px;

body {
  font: @baseFontSize @baseFontFamily;
}

div.well {
    background-color: @white;
}

div#main-content {
}

div#main-screen {
    width: @mainScreenWidth;
    .center-block();
}

div#side-content {
}

div#brave-info th#parameter-name {
    width: 144px;
}

div#brave-info .progress {
    margin-bottom: 0px;
}

div#brave-info .progress .bar {
    .transition(none);
}

div#log {
    @padding: 4px;
    
    #translucent > .background(@black, 0.1);
    .border-radius();
    color: fadeout(@gray, 10%);
    width: @mainScreenWidth - @padding * 2;
    bottom: 0px;
    padding: @padding;
}