@import "bootstrap/bootstrap.less";

body {
  font: @baseFontSize @baseFontFamily;
}

div#main-content {
}

div#main-screen {
    width: 600px;
    .center-block();
}

div#side-content {
}

div#brave-info th#parameter-name {
    width: 144px;
}

div#brave-info .progress {
    margin-bottom: 0px;
}

div#brave-info .progress .bar {
    .transition(none);
}
